vti_encoding:SR|utf8-nl
vti_author:SR|OSIRIS\\GaryStofer
vti_modifiedby:SR|DELL\\Gary
vti_timelastmodified:TW|07 Jan 2010 21:26:00 -0000
vti_timecreated:TR|16 Apr 2007 21:32:10 -0000
vti_extenderversion:SR|12.0.0.6211
vti_backlinkinfo:VX|pool/hours.php index.htm pool/directions.htm master.dwt pool/contact.php pool/pictures.htm pool/forms.htm pool/FB.htm pool/history.htm pool/lessons.htm pool/membershp.htm pool/parties.htm
vti_nexttolasttimemodified:TW|07 Jan 2010 21:26:00 -0000
vti_syncwith_localhost\\c\:\\temp\\website\\pool/c\:/temp/website/pool:TW|18 Apr 2007 05:03:26 -0000
vti_syncwith_005482c.netsolhost.com\:21/gary_bu/pool:TW|06 Mar 2008 05:34:38 -0000
vti_syncofs_005482c.netsolhost.com\:21/gary_bu/pool:TW|06 Mar 2008 13:36:00 -0000
vti_syncwith_ranchotehamaairpark.com\:21/gs/pool:TW|20 Aug 2009 18:53:47 -0000
vti_syncofs_ranchotehamaairpark.com\:21/gs/pool:TW|23 Sep 2009 17:26:00 -0000
vti_syncwith_forestparkpool.info\:21:TW|06 Feb 2010 06:22:03 -0000
vti_syncofs_forestparkpool.info\:21:TW|07 Jan 2010 21:26:00 -0000
vti_cacheddtm:TX|06 Feb 2010 06:22:03 -0000
vti_filesize:IR|2340
vti_cachedlinkinfo:VX|S|layout.css S|Images/headerSplash.jpg
vti_cachedsvcrellinks:VX|NSUS|pool/layout.css FSUS|pool/Images/headerSplash.jpg
